[core]
  editor = nvim
[user]
  username = matheusinit
  email = matheus.oliveira.s@protonmail.com
[color]
  ui = auto
[init]
  defaultBranch = main
[alias]
  s = !git status -s
  a = !git add --all
  ap = !git add --patch
	c = !git commit -m
	l = !git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	co = !git checkout
	b = !git branch[core]
